.product__controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.quantity__controls {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: hsl(223, 64%, 98%);
  border-radius: 10px;
  gap: 10px;
  & span {
    font-weight: 700;
    font-size: 14px;
    padding: 0 10px;
  }
  & button {
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: transparent;
    border: none;
    color: hsl(26, 100%, 55%);
    width: 100%;
    height: 100%;
    cursor: pointer;
    & img {
      width: 75%;
    }
  }
}

.cart__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(26, 100%, 55%);
  height: 40px;
  min-width: 250px;
  border-radius: 10px;
  border: none;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  & img {
    width: 8%;
  }
  & span {
    font-weight: 700;
    font-size: 12px;
  }
  &:hover {
    background-color: hsl(26, 100%, 72%);
    transition: all 0.3s ease;
  }
}
